<div class="agm-container">
  <!-- <div class="loading" *ngIf="loaderShow">Loading&#8230;</div> -->
  <h1>Angular Google Maps Demo</h1>
  <agm-map id="polygon" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [tilt]="40"
    [scaleControl]="true" [fullscreenControl]="true" (mapReady)="onMapReady($event)">
    <!-- <agm-rectangle *ngFor="let m of rectangleBounds; let i = index"
      [north]="m.north" [south]="m.south" [west]="m.west" [east]="m.east" [rectangleDraggable]="m.rectangleDraggable"
      [editable]="m.editable" [clickable]="m.clickable" [strokeColor]="m.strokeColor" [strokeWeight]="m.strokeWeight"
      [strokeOpacity]="m.strokeOpacity" [fillColor]="m.fillColor" [fillOpacity]="m.fillOpacity">

    </agm-rectangle> -->
  </agm-map>
  <br />
  <label for="selectedPolygonID">Selected Polygon</label>
  <input type="text" id="selectedPolygonID" [(ngModel)]="this.storeHouse.selectedPolygonParentID" placeholder="0" />

  <label for="moveDisplacementAmount">Move Displacement of Polygon</label>
  <input type="text" id="moveDisplacementAmount" [(ngModel)]="this.storeHouse.moveDisplacementAmount"
    placeholder="0.01" />

  <button mat-stroked-button color="warn" (click)="selectPolygonTemp()">
    Select Polygon
  </button>

  <button mat-stroked-button color="warn" (click)="rotateLeft()">
    Rotate Left
  </button>
  <button mat-stroked-button color="warn" (click)="rotateRight()">
    Rotate Right
  </button>

  <button mat-stroked-button color="warn" (click)="deleteAllShape()">
    Clear All
  </button>
  <button style="margin-right: 10px;" mat-stroked-button color="warn" (click)="drawFromLocalStorage2()">
    Re-Draw Last one
  </button>
  <!-- <div *ngIf="pointList.length > 0" class="display-flex">
    <button mat-stroked-button color="warn" (click)="deleteSelectedShape()">
      Clear
    </button>
  </div> -->
  <!-- <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let point of pointList">
      {{ point.lat.toPrecision(5) }},
      {{ point.lng.toPrecision(5) }}
    </mat-list-item>
  </mat-list>
  <mat-card *ngIf="selectedArea > 0">
    <span> Selected Area: {{ selectedArea.toPrecision(5) }}m<sup>2</sup> </span>
  </mat-card> -->

  <div style="float: none;"></div>

  <div style="width: 300px; height: 400px; border: 1px;">
    <div style="float: clear; width: 100px; margin-left: 150px;">
      <button mat-stroked-button color="warn" (click)="moveUp()">
        Move UP
      </button>
    </div>
    <br /><br />
    <div style="float: clear;">
      <button mat-stroked-button color="warn" (click)="moveRight()">
        Move Right
      </button>
      <button mat-stroked-button color="warn" (click)="moveLeft()">
        Move Left
      </button>
    </div>
    <br /><br />
    <div style="float: clear; width: 100px; margin-left: 150px;">
      <button mat-stroked-button color="warn" (click)="moveDown()">
        Move Down
      </button>
    </div>

  </div>


</div>