agm-map {
    height: 500px;
  }
  .agm-container{
    /* width: 80%; */
    margin: auto;
    padding:1rem;
  }
  button{
    float: right;
  }
  .mat-list-item{
    color:green;
    background-color: #eeeeee;
    margin: 1rem;
    margin-left:0;
    border: none;
    border-radius: 10px;
  }
  .display-flex{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .mat-card{
      background-color: #000;
      color:#fff;
  }
